body {
    background-color: white;
    font-family: Didot, Palatino Linotype, Book Antiqua, Palatino, serif;
    font-size: 100%;
    margin: 0 auto;
    width: 900px; 
}
body {
    text-align: center;
}

header {
    background-color: white;

}


a:link {
    color: black;
    text-decoration: none;
    text-align: center;
    
}

a:visited {
    color: black;
    text-decoration: none;
}

a {
    padding: 8px;
    /* padding-top: 100px; */
    line-height: 1em;
    font-family: linotype-didot, serif;
    font-size: 150%;
    text-align: center;
    
}

div {
    display: block;
    padding: 20px;
}


article {
    background-color: white;
    padding-bottom: 10px;
}


a:hover {
    color: darkgray;
}

h1 {
    font-size: 350%;
    padding-bottom: 10px;
    padding-top: 65px;
    text-align: center;
    background-color: white;
    margin: 0 auto;
    width: 900px;
    font-family: linotype-didot, serif;
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-size: 150%;
    /* padding-bottom: 15px; */
    padding-top: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    
}

p {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: .9375em;
    font-weight: 300;
    margin-top: -10px;
    /* padding-left: 50px; */
    padding-top: 35px;
}


footer {
    clear: both;
    font-family: 'Lato', sans-serif;
    font-size: 85%;
    font-weight: 300;
    padding-bottom: 40px;
    text-align: center;
}

main {
    padding-bottom: 20px;
}
